@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
    font-family: 'Questrial', sans-serif;
  }
  
  .main-header {
    transition: margin-left .5s;
  }
  
  .topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .topnav img {
    height: 2.5rem;
  }
  
  .topnav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 10px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    top: .5rem;
    right: 0;
    font-size: 25px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .active {
    color: black;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    border-left: thin;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 14px;
    color: grey;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #c71d41;
  }
  
  .sidenav .closebtn {
    font-size: 35px;
  }

  .main {
    width: 600px;
    max-width: 100%;
    margin: auto;
    padding-top: 75px;
    transition: margin-left .5s;
    line-height: 24px;
  }

  .main h1, h2 {
    font-size: 14px;
    font-weight: 600;
  }
  
  .main p {
    font-size: 14px;
  }

  .myImg {
    width: 100%;
    max-width: 600px;
    height: auto;
    position: relative;
    margin: 10px 10px 0px 0px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
  }

  .myImg:hover {
    opacity: 0.7;
  }

  .main a {
    font-style: italic;
    font-weight: 600;
    color: #c71d41;
    text-decoration: none;
  }

  .main a:hover {
    color: #e97e95;
  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  position: fixed;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  max-height: 90%;
  max-width: 90%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation 
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:translate(0, 0)} 
  to {-webkit-transform:translate(-50%, -50%)}
}

@keyframes zoom {
  from {transform:translate(0, 0)} 
  to {transform:translate(-50%, -50%)}
}*/

/* The Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 11px;
  color: #f1f1f1;
  font-size: 35px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #c71d41;
  text-decoration: none;
  cursor: pointer;
}

/* 90% Image Widsth on Smaller Screens 
@media only screen and (max-width: 700px){
  .modal-content {
      width: 90%;
  }
} */